<div class="welcome__background--container">
  <div class="welcome__background">
    <img class="welcome__background--gif" src="{{source}}"/>
  </div>
</div>
<div class="welcome__background--quiz">
  <button class="btn-hover" routerLink="/quiz/">
    Start the Quiz
  </button>
</div>