app-welcome-page {
    background-color: black;
}

.welcome__background--container {
    position: relative;
    width: 100%;
    height:100%;
    background: black;
}

.welcome__background {
    z-index: -1;
}

.welcome__background--gif {
    display: block;
    width: 800px;
    height: 450px;
}

.welcome__background--quiz {
    position: absolute;
    bottom: 100px;
    right: 50%;
}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border-radius: 4px;
  border-color: black;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: bold;
  margin: 1em auto;
  padding: 1.5em 3em;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: black;
}

.btn-hover {
    overflow: hidden;
}

.btn-hover::after {
    background-color: rgb(150, 1, 1);
    height: 100%;
    left: -40%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
    
.btn-hover:hover:after {
    height: 100%;
    width: 140%;
}