<div class="results__background">
  <div class="results__card--container">
    <div class="results__container card">
      <div class="results__title">
        <span>
          Results:
        </span>
      </div>
      <div class="results__grade--container">
        <span class="results__grade">
          {{percentGrade}}% | {{letterGrade}}
        </span>
        <div class="results__grade--gif-container">
          <img class="results__gif" src={{gifResponse}}>
        </div>
      </div>
    </div>
  </div>
  <button routerLink="/welcome/" type="button" class="btn btn-secondary">Back to main</button>
</div>

