.results__background {
    background-image: url("../mockData/results_background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 100%;
    z-index: -1;
}

.results__card--container {
    position: relative;
    width: 30%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.results__container.card {
    position: absolute;
    background-color: #ccd9ff;
    width: 100%;
    top: 50px;
    border: 2px solid #161F70;
    height: 450px;
}

.results__title span {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.results__grade--container {
    padding-top: 20px;
    margin: 0 auto;
}

.results__grade {
    font-size: 22px;
}

.results__grade--gif-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.results__gif {
    height: 100%;
    width: 100%;
}