<div class="quiz__container--background">
  <div class="quiz__cards--slider-container">

     <div class="quiz__container card" *ngIf="!showResultCard">
      <div class="card-body">
        <div class="quiz__question--container">
          <span>{{questionText}}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div *ngFor="let choice of choices; let idx = index">
            <label class="quiz__questions">
              <input type="radio" name="options" id="{{choice}}" (change)="choiceSelected(choice)" [value]="choice">
              <span>{{choice}}</span>
              <span class="quiz__questions--button"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="quiz__questions--continue-button">
        <button type="button" class="btn btn-secondary" *ngIf="!showResultsButton" (click)="submit()" [disabled]="!choiceSelectedValidator">Continue</button>
        
    </div>
    </div>

    <div class="quiz__container card" *ngIf="showResultCard">
      <div class="card-body">
        <div>
          <p>Time to see your results.</p>
          <button routerLink="/results/{{score}}" type="button" class="btn btn-primary" *ngIf="showResultsButton">Results</button>
        </div>
      </div>
    </div>

    <!-- <div class="quiz__container card hidden" [ngClass]="{'active': visible}" [@slideInOut]="enter">
      <div class="card-body">
        <div class="quiz__question--container">
          <span>{{questionText}}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div *ngFor="let choice of choices; let idx = index">
            <label class="quiz__questions">
              <input type="radio" name="options" id="{{choice}}" (change)="choiceSelected(choice)" [value]="choice" [checked]="idx === 0">
              <span>{{choice}}</span>
              <span class="quiz__questions--button"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="quiz__questions--continue-button">
        <button type="button" class="btn btn-secondary" *ngIf="!showResultsButton" (click)="submit()">Continue</button>
        <button routerLink="/results/" type="button" class="btn btn-primary" *ngIf="showResultsButton">Results</button>
      </div>
    </div> -->
  </div>
</div>