@import url('https://fonts.googleapis.com/css?family=KoHo|Maven+Pro');

.quiz__container--background {
    background-image: url("../mockData/aTURT51.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 100%;
    z-index: -1;
}

.quiz__cards--slider-container {
    position: relative;
    width: 35%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.quiz__container.card {
    position: absolute;
    background-color: rgba(209, 226, 211, 0.95);
    width: 100%;
    top: 50px;
	border: 1px solid #3db152;
	box-shadow: 19px 7px 6px rgba(0,0,0,.3);
	border-radius: 6px;
}

.btn-secondary{
	background-color: #187100;
	border-color: #187100;
	font-family: 'Maven Pro', sans-serif;
}

.btn-secondary:hover {
	background-color: #3db152;
	border-color: #3db152;
}

.hidden {
    left: 100%;
}

.active {
    left: 0;
}

.quiz__question--container {
	padding-bottom: 20px;
	font-family: 'KoHo', sans-serif;
	font-size: 22px;
	line-height: 25px;
}

.btn-group {
    flex-direction: column;
}

.quiz__questions {
    text-align: left;
    padding-bottom: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	font-family: 'Maven Pro', sans-serif;
	line-height: 20px;
}

.quiz__questions input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.quiz__questions--button {
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #02711a;
    border-radius: 50%;
    top: 5px;
}

.quiz__questions:hover input ~ .quiz__questions--button {
	background-color: #3db152;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quiz__questions input:checked ~ .quiz__questions--button {
    background-color: #3db152;
}

.quiz__questions--button:after {
    content: "";
    position: absolute;
    display: none;
}

.quiz__questions input:checked ~ .quiz__questions--button:after {
    display: block;
}

.quiz__questions--continue-button {
    margin-bottom: 20px;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}